// table
$table-row-bg-color: #f1f7fe;
$table-row-height: 30px;
$table-th-icon-color: #ccd1d9;
$table-th-icon-down-color: #3D444F;
$table-th-bg: #FFFFFF;
$table-th-bg-active: #F5F7FA;

@import 'dao-color.scss';